.body{
    margin: 0px;
    flex: auto;
}

.pagination-button {
    margin: 5px;
    padding: 5px 10px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    cursor: pointer;
    margin-top: 160px;
    filter: drop-shadow(1px 1px 3px rgb(199, 199, 192));
}

.pagination-button.active {
    background-color: #007bff;
    color: white;
}

.pagination-button:disabled {
    background-color: #ddd;
    cursor: not-allowed;
    text-decoration: solid;
}
