body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    background-color: #4CAF50;
}

h1 {
    text-align: center;
  
}

.form-container {
    width: 50%;
    margin: 0 auto;
}

form {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    background-color:whitesmoke;
    width: 50%;
}

label {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

input, textarea, button {
    margin-top: 5px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 95%;
}

button {
    width: auto;
    align-self: flex-end;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
}
button:hover{
    background-color: lightgreen;
    color: black;
}
table {
    width: 80%;
    margin-top: 20px;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 8px;
    text-align: left;
}