body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #6d6363;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 700px;
}

h1 {
    text-align: center;
    margin-bottom: 10px;
}

.available-seats {
    text-align: center;
    font-size: 1.2em;
    margin-bottom: 20px;
}

.form-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.image-container {
    text-align: center;
    padding-right: 20px;
}

.image-container img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 1px solid #000;
}

.form-content {
    flex-grow: 1;
}

form {
    width: 100%;
}

.form-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

label {
    width: 40%;
    margin-right: 10px;
    font-weight: bold;
    text-align: right;
}

input[type="text"],
input[type="email"],
input[type="tel"],
select {
    width: 55%;
    padding: 8px 10px;
    margin: 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-buttons {
    display: flex;
    justify-content: space-between;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: #fff;
    cursor: pointer;
    width: calc(50% - 10px); /* Adjusted width */
}

button[type="button"] {
    background-color: #6c757d;
}
