.count{
    margin : 0px;
    padding : 0px;

}

#timer{
    text-align: center !important;
    
}

h1{
    font-size: 65px;
    filter: drop-shadow(2px 2px 6px yellow);
    color: rgb(92, 84, 70);
    background-image: url('pexels-photo-3476860.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}